* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --transpgray: rgba(63, 72, 80, 0.332);
    --deepgray: rgb(65, 65, 65);
}
body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
}
header {
    width: 100%;
    height: 50px;
    z-index: 500;
    padding-top: 10px;
    padding-right: 5px;
    text-align: right;
    position: fixed;
    top: 0;
}
header .btn {
    background-color: var(--deepgray);
    margin-right: 2px;
    padding: 5px;
    border-radius: 2px;
}
header .btn a, header .btn i {
    color: white;
    text-decoration: none;
    cursor: pointer;
} 
.main-wrap {
    width: 90%;
    margin: 50px auto;
    max-width: 1170px;
    height: calc(100vh - 150px);
    overflow-y: auto;
}
.flexwrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.col-main {
    flex-basis: calc(100% / 7);
    padding-right: 5px;
    position: relative;
    min-width: 150px;
}
.col-main > img {
    width: 100%;
}
.col-main .name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: var(--transpgray);
    padding: 2px;
}
.flexrow {
    display: flex;
    align-items: center;
}
footer {
    height: 80px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    position: fixed;
    bottom: 0;
}
.iconsdiv {
    margin-left: 10px;
}
footer i {
    cursor: pointer;
    font-size: 25px;
}
.arrow {
    font-size: 10px;
}
.foot25 {
    width: 25%;
    height: 100%;
}
.foot50 {
    width: 50%;
    height: 100%;
    justify-content: center;
}
.foot25 div, .foot50 div {
    padding: 5px;
    line-height: 1.5;
    text-align: center;
}
footer .foot25:last-of-type {
    justify-content: flex-end;
}
#green {
    color: rgb(75, 200, 0);
}
#endmeeting {
    color: red;
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
    background-color: rgb(70, 70, 70);
    cursor: pointer;
}
